*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Flamenco', cursive;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/header.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	height: 100vh;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.row{
	max-width: 1180px;
	margin: 0 auto;
}

.logo{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav{
	float: right;
	margin-top: 60px;
}

.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

.main-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}

.main-nav li a:hover{
	border-bottom: 2px solid #bf55ec;
}

.main-content-header{
	width: 1180px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-weight: lighter;
}

h1{
	color: #fff;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color .2s, border 0.2s, color 0.2;
}

.btn-purple{
	background-color: transparent;
	color: #bf55ec;
	margin-right: 15px;
	border: 1px solid #bf55ec;
}

.btn-white{
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}

.btn-purple:hover{
	background-color: #fff;
}

.btn-white:hover{
	background-color: #bf55ec;
}

.color-change-animation{
	animation: colorchange 1s infinite;
}

@keyframes colorchange{
	0%{color: #f98866}
	25%{color: #fa6775}
	50%{color: #f52549}
	75%{color: #f62a00 }
	100%{color: #cb0000}
}

.mobile-icon{display: none;}
/*/// RESPONSIVE QUERIES*/

@media only screen and (max-width: 1180px){
	.main-content-header{
		width: 100%;
		padding: 0 2%;
	}
	.main-nav{
		padding: 0 2%;
	}
}

@media only screen and (max-width: 998px){
	h1{font-size: 200%;}
	.main-nav{
		padding: 0 2%;
	}
}

@media only screen and (max-width:768px){
	h1{font-size: 140%}
	.main-nav{display: none;}
	.mobile-icon{
		display: inline-block;
		color: #fff;
		float: right;
		margin-top: 30px;
		margin-right: 20px;
	}

	.main-nav{
		float: left;
	}
	.main-nav li{
		display: block;
		margin-top: 10px
	}
}

@media only screen and (max-width: 480px){
	h1{font-size: 100%;}
	.main-nav{
		padding: 0 2%;
	}
	.btn-purple{
		margin-bottom: 20px;
	}
}